<form class="search-container" (ngSubmit)="search()">
  <input [(ngModel)]="query" name="query" placeholder="🔎 Busca tu héroe Marvel..." required />
  <button type="submit">Buscar</button>
</form>

<!-- Héroes destacados -->
<div *ngIf="featuredCharacters.length" class="cards">
  <div class="card" *ngFor="let character of featuredCharacters">
    <img [src]="character.thumbnail.path + '/portrait_uncanny.' + character.thumbnail.extension"
         [alt]="character.name" />
    <h3>{{ character.name }}</h3>
    <p>{{ character.description || 'Sin descripción disponible.' }}</p>
    <button (click)="verDetalle(character.id)">Ver detalles</button>
  </div>
</div>

<div *ngIf="error" class="error">{{ error }}</div>

<div class="cards" *ngIf="characters.length">
  <div class="card" *ngFor="let character of characters">
    <img [src]="character.thumbnail.path + '/portrait_uncanny.' + character.thumbnail.extension"
         [alt]="character.name" />
    <h3>{{ character.name }}</h3>
    <p>{{ character.description || 'Sin descripción disponible.' }}</p>
    <button (click)="verDetalle(character.id)">Ver detalles</button>
  </div>
</div>
<div *ngIf="!characters.length && !error && query">No se encontraron personajes.</div>
