<h2 class="comic-title">Favoritos</h2>
<ul class="favorites-list">
  <li *ngFor="let fav of favorites" class="favorite-item">
    <img
      [src]="fav.thumbnailUrl"
      [alt]="fav.characterName"
      class="favorite-img"
    />
    <span class="favorite-name">{{ fav.characterName }}</span>
    <input [(ngModel)]="fav.note" placeholder="Nota personalizada" class="favorite-note">
    <button (click)="save(fav)" class="favorite-btn">Guardar</button>
    <button (click)="remove(fav.characterId)" class="favorite-btn remove">Eliminar</button>
    <button (click)="goToDetail(fav.characterId)" class="favorite-btn details">Ver detalles</button>
  </li>
</ul>
