<h2>Favoritos</h2>
<ul>
  <li *ngFor="let fav of favorites">
    <b>{{ fav.characterName }}</b>
    <input [(ngModel)]="fav.note" placeholder="Nota personalizada">
    <button (click)="save(fav)">Guardar</button>
    <button (click)="remove(fav.characterId)">Eliminar</button>
  </li>
</ul>
<input [(ngModel)]="newName" placeholder="Nombre personaje">
<input [(ngModel)]="newId" placeholder="ID personaje" type="number">
<input [(ngModel)]="newNote" placeholder="Nota">
<button (click)="add()">Añadir</button>
